html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#landing-page{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;

}

#landing-page > img{
    width: 100%;
    height: 100vh;
    margin: 0;
}

#content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    top: -95vh;
}

#button{
    border: 2px solid rgb(8, 121, 8);
    width: 50vh;
    height: 30vh;
    overflow: hidden;
    background-color: rgb(97, 180, 97);
    border-radius: 50px;
}

#button h1{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: 8%;
    flex-direction: column;
    font-size: 2rem;
}


