html, body {
    margin: 0;
    padding: 0;
    height: 100%;
}

#landing-page{
    position: relative;
    height: 100vh;
    width: 100%;
    padding: 0;

}

#landing-page > img{
    width: 100%;
    height: 100vh;
    margin: 0;
}

#content{
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 2px solid rgb(8, 121, 8);
    flex-direction: column;
    top: -95vh;
}